[submodule "service/service-auth"]
	path = service/service-auth
	url = https://github.com/scccy/service-auth.git
	branch = main

[submodule "service/service-base"]
	path = service/service-base
	url = https://github.com/scccy/service-base.git
	branch = main

[submodule "service/service-common"]
	path = service/service-common
	url = https://github.com/scccy/service-common.git
	branch = main

[submodule "service/service-gateway"]
	path = service/service-gateway
	url = https://github.com/scccy/service-gateway.git
	branch = main
[submodule "service/service-feishu"]
	path = service/service-feishu
	url = https://github.com/scccy/service-feishu.git
