<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scccy.service.wechatwork.dao.mapper.WechatworkGroupMapper">
    <resultMap id="BaseResultMap" type="com.scccy.service.wechatwork.domain.mp.WechatworkGroupMp">
        <!--@mbg.generated-->
        <!--@Table wechatwork_group-->
        <result column="wechatwork_user_id" jdbcType="VARCHAR" property="wechatworkUserId"/>
        <result column="wechatwork_group_id" jdbcType="VARCHAR" property="wechatworkGroupId"/>
        <result column="wechatwork_external_union_id" jdbcType="VARCHAR" property="wechatworkExternalUnionId"/>
        <result column="wechatwork_external_user_id" jdbcType="VARCHAR" property="wechatworkExternalUserId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        wechatwork_user_id,
        wechatwork_group_id,
        wechatwork_external_union_id,
        wechatwork_external_user_id,
        status,
        create_time,
        update_time,
        create_by,
        update_by,
        del_flag
    </sql>
</mapper>
